<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>boolzapp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>
  <div id="root">
    <div class="nav-back"></div>
    <div class="body-back"></div>

    <div class="container">
      <header>
          <div class="nav-right">
            <div class="chat-utent">
              <img :src="'./assets/img/avatar' + contacts[index].avatar + '.jpg'" alt="">
              <p>{{contacts[index].name}}</p>
            </div>

            <div class="icons">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
      </header>

      <main>
        <aside>
          <div class="nav-left">
            <div class="utente">
              <img src="./assets/img/avatar_2.jpg" alt="mioavatar">
              <p>Wassim</p>
            </div>

            <div class="icons">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>

          <div class="notifiche">
            <div class="bell">
              <i class="fas fa-bell-slash"></i>
            </div>

            <div class="bell-text">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva le notifiche desktop</a>
            </div>
          </div>

          <div class="search-contact">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Cerca contatto">
          </div>

          <div class="contact">
            <ul class="lista-contatti">
              <li
              v-for="(contact, index) in contacts"
              @click="selectContact"
              >
                <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
                <div class="info-contact">
                  <p> {{ contact.name }} </p>
                  <p id="lastMsg"> {{ lastMes(index).text }} </p>
                </div>
              </li>
            </ul>
          </div>
        </aside>

        <div class="body-main">
          <div class="chat">
            <div class="message"
            v-for="message in contacts[index].messages"
            :class="message.status"
            >
               <span>{{ message.text }}</span>
               <span id="date">{{ message.date }}</span>
            </div>
          </div>
        </div>


      </main>

      <footer>
        <i class="far fa-grin-alt"></i>
        <input type="text" placeholder="Scrivi un messaggio">
        <i class="fas fa-microphone"></i>
      </footer>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/dati.js" charset="utf-8"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
