*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 85%;
}

/* background pagina */
.nav-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 130px;
  width: 100vw;
  background-color: #009688;
}

.body-back{
  position: fixed;
  top: 130px;
  left: 0;
  z-index: -1;
  height: calc(100vh - 130px);
  width: 100vw;
  background-color: #D9DBD4;
}
/* background pagina */

/* header */
header{
  width: calc(85% - 400px);
  position: fixed;
  top: 20px;
  margin-left: 400px;
  z-index: 1;
}

.nav-right{
  height: 60px;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-utent{
  display: flex;
  align-items: center;
}

.chat-utent img{
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.chat-utent  p{
  font-size: 14px;
  margin-left: 10px;
}
/* header */

/* main */
main{
  height: calc(100vh - 60px - 30px);
  display: flex;
  margin-top: 20px;
}


aside{
  width: 400px;
  height: 100%;
}

/* nav utente left */
.nav-left{
  height: 60px;
  background-color: #EDEDED;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.utente{
  display: flex;
  align-items: center;
}

.utente  img{
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.utente  p{
  font-size: 14px;
  margin-left: 10px;
}

.icons i{
  margin-right: 10px;
}
/* nav utente left */

/* notifiche */
.notifiche{
  height: 90px;
  background-color: #9DE1FE;
  display: flex;
  align-items: center;
}

.bell i{
  margin-left: 10px;
  font-size: 20px;
  padding: 17px 15px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #9DE1FE;
}

.bell-text{
  margin-left: 10px;
}

.bell-text p{
  font-size: 15px;
}

.bell-text a{
  font-size: 14px;
  color: #848484;
}
/* notifiche */

/* ricerca */
.search-contact{
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.search-contact input{
  width: 300px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000;
  margin-right: 10px;
}

.search-contact i{
  position: relative;
  left: 20px;
}
/* ricerca */

/* contact */
.contact{
  background-color: #fff;
  overflow-y: auto;
  height: calc(100% - 140px);
}

.lista-contatti li{
  list-style: none;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #848484;
  display: flex;
  align-items: center;
}

.lista-contatti li img{
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
}

.info-contact{
  margin-left: 10px;
}
/* contact */

.body-main{
  overflow-y: auto;
  background-image: url('../img/mine.jpg');
  width: calc(100% - 400px);
  margin-top: 60px;
}

/* chat */
/* .right-message{
  background-color: #DCF8C6;
  padding: 10px 15px;
  text-align: center;
  border-radius: 12px;
  float: right;
  clear: both;
  margin-right: 20px;
  margin-top: 10px;
}

.left-message{
  background-color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  border-radius: 12px;
  float: left;
  clear: both;
  margin: 20px;
  margin-right: 20px;
  margin-top: 10px;
} */

.chat div.sent{
  background-color: #DCF8C6;
  float: right;
  clear: both;
}

.chat div.received{
  background-color: #ffffff;
  float: left;
  clear: both;
}

.message{
  padding: 10px 15px;
  text-align: center;
  border-radius: 12px;
  margin: 10px;
}

#date{
  margin-left: 15px;
  font-size: 12px;
}

/* chat */
/* main */

/* footer */
footer{
  height: 60px;
  background-color: #EDEDED;
  width: calc(85% - 400px);
  position: fixed;
  margin-bottom: 20px;
  margin-left: 400px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer input{
  width: 750px;
  padding: 10px;
  border: none;
  border-radius: 15px;
}

footer i{
  font-size: 20px;
}
/* footer */
