*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 85%;
}

/* background pagina */
.nav-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 130px;
  width: 100vw;
  background-color: #009688;
}

.body-back{
  position: fixed;
  top: 130px;
  left: 0;
  z-index: -1;
  height: calc(100vh - 130px);
  width: 100vw;
  background-color: #D9DBD4;
}
/* background pagina */

/* header */
header{
  width: calc(85% - 400px);
  position: fixed;
  top: 30px;
  margin-left: 400px;
  z-index: 1;
}

.nav-right{
  height: 60px;

  background-color: #EDEDED;
  display: flex;
  align-items: center;
}
/* header */

/* main */
main{
  height: calc(100vh - footer);
  display: flex;
}

aside{
  width: 400px;
  height: 100%;
}

/* nav utente left */
.nav-left{
  height: 60px;
  margin-top: 30px;
  background-color: #EDEDED;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.utente{
  display: flex;
  align-items: center;
}

.utente  img{
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.utente  p{
  font-size: 14px;
  margin-left: 10px;
}

.icons i{
  margin-right: 10px;
}
/* nav utente left */

/* notifiche */
.notifiche{
  height: 90px;
  background-color: #9DE1FE;
  display: flex;
  align-items: center;
}

.bell i{
  margin-left: 10px;
  font-size: 20px;
  padding: 17px 15px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #9DE1FE;
}

.bell-text{
  margin-left: 10px;
}

.bell-text p{
  font-size: 15px;
}

.bell-text a{
  font-size: 14px;
  color: #848484;
}
/* notifiche */

/* ricerca */
.search-contact{
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-contact input{
  width: 300px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000;
  margin-right: 10px;
}

.search-contact i{
  position: relative;
  left: 20px;
}


/* ricerca */
/* main */
